.standard {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

.hero {
    width: 100vw;
}

.hero-body {
    width: 100vw;
    margin: auto;
}

#words {
    margin: auto;
}

#top {
    font-size: 3vmin;
}

#telele {
    font-family: 'Baloo Chettan', cursive;
    font-size: 7vmin;
}

#mid {
    font-size: 3vmin;
}

#word {
    font-family: 'Playfair Display', serif;
    font-size: 13vmin;
}

#word-link {
    color: inherit;
    text-decoration: inherit;
}

#ora-ve {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    bottom: 2px;
}

#lyrics {
    margin: auto;
    max-width: 80vw;
    overflow: auto;
}

.footer {
    padding-left: 0%;
    padding-right: 0%;
}

#footer-content {
    width: 100%;
    margin: auto;
}

#footer-content * {
    margin: auto;
}

#coffee {
    margin-top: 10px;
}